.content {
    grid-area: content;
}
.welcome {
    grid-area: welcome;
}
.advisers {
  grid-area: advisers;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 320px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "welcome content"
      "advisers content";

    @include mobile {  
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        grid-template-areas:     
        "content"
        "welcome"        
        "advisers";  
    }
}