<footer>
  <div class="container">
    <div class="footer">
      <div class="footer__texts">
        <div class="footer__texts__menu-items">


            {%- for nav in collections.nav | sort(attribute="date") -%}
            <div class="footer__texts__menu-items__item">
            <a href="{{ nav.url | url }}" {% if nav.url==page.url %}
                    data-current="current item" {% endif %}>{{ nav.data.navtitle }}</a></div>
            {%- endfor -%}

          
        </div>

        <div class="footer__texts__other">
          <div class="footer__texts__contact">
            PO Box 507 Chatswood NSW 2057
            <br>
            <a href="mailto:info@ceblions.org.au">info@ceblions.org.au</a>
            <div class="footer__texts__socials__social">
              <a href="https://www.facebook.com/Lions-Club-of-Chatswood-Executive-Business-Inc-139820459519328" target="_blank">
                <svg aria-labelledby="simpleicons-facebook-icon" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <title id="simpleicons-facebook-icon">Facebook icon</title>
                  <path d="M22.676 0H1.324C.593 0 0 .593 0 1.324v21.352C0 23.408.593 24 1.324 24h11.494v-9.294H9.689v-3.621h3.129V8.41c0-3.099 1.894-4.785 4.659-4.785 1.325 0 2.464.097 2.796.141v3.24h-1.921c-1.5 0-1.792.721-1.792 1.771v2.311h3.584l-.465 3.63H16.56V24h6.115c.733 0 1.325-.592 1.325-1.324V1.324C24 .593 23.408 0 22.676 0"></path>
                </svg>
              </a>
            </div>
          </div>



          <div class="footer__texts__disclaimers">
            Copyright © 2019
            <br> Chatswood Executive Business Lions Club
          </div>
        </div>



      </div>

      <div class="footer__logo">
        <img src="/static/img/ceblions-logo.png" alt="CEB Lions logo" class="img-fluid">

      </div>
    </div>
  </div>

</footer>