<div class="">
    <div class="banner-slider">
        <div class="banner-slider__slide">
            <div class="banner-slider__image">
                <img src="/static/img/change-over-2018-group-shot.jpg">
            </div>          
            <div class="banner-slider__caption">
                Annual Change Over Dinner 2018
            </div>
        </div>
        <div class="banner-slider__slide">
            <div class="banner-slider__image">
                <img src="/static/img/change-over-2018-samuel-chu.jpg">
            </div>
            <div class="banner-slider__caption">
                Samuel Chu at the Annual Change Over Dinner 2018
            </div>
        </div>
        <div class="banner-slider__slide">
            <div class="banner-slider__image">
                <img src="/static/img/change-over-2018-monika-stelzner.jpg">
            </div>
            <div class="banner-slider__caption">
                Monika Stelzner at the Annual Change Over Dinner 2018
            </div>                        
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{# An optional javascript pipeline; outputs minified JS into <head>  #}
{% set js %}
  {% include "assets/js/inline.js" %}
{% endset %}
<script>{{ js | jsmin | safe }}</script>