<!doctype html>

<html {% if section %} data-current="{{ section }}" {% endif %} lang="en">

{% include "components/head.njk" %}

<body>

  <header>
    {% include "components/nav.njk" %}
  </header>

  <main>

    {% if section=="home"%}
      {% include "components/homepage-slider.njk" %}
      <style>
      @media screen and (max-width: 768px) {
        .grid-wrapper {
          grid-template-areas:     
            "welcome"        
            "content"       
            "advisers";  
        }
      }
      </style>    
    {% endif %}

    <div class="container">
      <div class="grid-wrapper">
        <div class="welcome">
          <div class="ceb-tile ceb-tile--cyan">
            <h3>Welcome</h3>
            <p>
              Chatswood Executive Business Lions Club (CEBLC) was formed on 25th May 2011 catering to the needs of the
              Willoughby
              Municipality.</p>
            <p>Current membership stands at 31 individuals from a variety of backgrounds and age groups, bound
              by a common goal to help the local community. The main vision of the club in its inaugural year
              will be to support local youth projects (such as Streetworks) and conduct bi-monthly meetings
              for our members and friends.
            </p>
          </div>
          </div>
          <div class="advisers ceb-tile--grey">
            <div class="ceb-tile ceb-tile--names">
              <h4 class="h4">Club Advisers</h4>
              <div class="ceb-tile--names__name">
                <a href="/sponsors/samuel-chu-optometrist.pdf">Chu, Monica Mrs</a>
              </div>
              <div class="ceb-tile--names__name">Wu, Alex Lion</div>
              <h4 class="h4">Corporate Sponsors</h4>
              <div class="ceb-tile--names__name">Lenland Property Development Pty Ltd</div>
              <h4 class="h4">Club Sponsors</h4>
              <div class="ceb-tile--names__name">Ching, Terry Lion</div>
              <div class="ceb-tile--names__name">Galaxy Funeral Consulting</div>
              <div class="ceb-tile--names__name">K P Caps Shun</div>
              <div class="ceb-tile--names__name">Fai Modern AV Co.</div>
              <div class="ceb-tile--names__name">Streamline Management</div>
              <div class="ceb-tile--names__name">Transways Logistics International</div>
              <div class="ceb-tile--names__name">UMI</div>
              <a href="javascript:ga('send',{
  hitType: 'event',
  eventCategory: 'TestEventCategory',
  eventAction: 'Click',
  eventLabel: 'Club Sponsors'
});">Test event</a>
            </div>
        </div>
        <div class="content">
          <div class="ceb-tile">
            {{ layoutContent | safe }}
          </div>
        </div>
      </div>
    </div>
  </main>

  {% include "components/footer.njk" %}

</body>

</html>